<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MBM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LocalDatabaseConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Azza\Desktop\Money-B-Mine\Money-B-Mine\MBM\App_Data\Database.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="AmazonConnectionString" connectionString="Data Source=money-b-mine.cxq75rxtgl9y.us-east-1.rds.amazonaws.com,1433;Initial Catalog=MoneyBMine;User ID=money;Password=zist4xKU9xo5Cb"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="WebServiceSoap1"/>
                <binding name="WebServiceSoap2">
                    <security mode="Transport"/>
                </binding>
                <binding name="WebServiceSoap3"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://moneybminewebservice.azurewebsites.net/WebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceSoap"
                contract="WebServiceReference.WebServiceSoap" name="WebServiceSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <MBM.Properties.Settings>
            <setting name="MBM_net_azurewebsites_moneybminewebservice_WebService"
                serializeAs="String">
                <value>https://moneybminewebservice.azurewebsites.net/WebService.asmx</value>
            </setting>
        </MBM.Properties.Settings>
    </applicationSettings>
</configuration>
